
<header>
    <h1>Hall of Legends</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/P--2--5gbcE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://github.com/tuantruong3001/TodoApp" target="blank">Build this App</a>
        <a mat-raised-button href="https://github.com/tuantruong3001/TodoApp" target="blank">Source</a>
    </p>


</header>